# PARCIAL 1 TAM (Teor√≠a de Aprendizaje de M√°quina)

## Ej 1

Dado el modelo de regresion : 

tn = 
ùúô
(
ùë•
ùëõ
)
‚ä§
ùë§
+
ùúÇ
ùëõ
t 
n
‚Äã
 =œï(x 
n
‚Äã
 ) 
‚ä§
 w+Œ∑ 
n
‚Äã
 , con 
ùúÇ
ùëõ
‚àº
ùëÅ
(
0
,
ùúé
2
)
Œ∑ 
n
‚Äã
 ‚àºN(0,œÉ 
2
 )


Presentamos la inferencia o problema de optimizaci√≥n para los siguientes casos asumiendo datos i.i.d :

### M√çNIMOS CUADRADOS (OLS)

### M√çNIMOS CUADRADOS REGULARIZADOS

### M√ÅXIMA VEROSIMILITUD

### M√ÅXIMO A POSTERIORI (MAP)

### MODELO BAYESIANO LINEAL GAUSSIANO

### REGRESI√ìN R√çGIDA KERNEL

### PROCESOS GAUSIANOS (GP)

### Finalmente discutimos similitudes y diferencias:

## Ej 2

 Utilizando validaci√≥n cruzada de 5 folds, comparar el rendimiento de varios regresores de sklearn sobre el conjunto de datos Ames Housing. Se deben emplear t√©cnicas de b√∫squeda de hiperpar√°metros como GridSearch, RandomSearch y optimizaci√≥n bayesiana. Adem√°s, presentar m√©tricas de desempe√±o como MAE, MSE, R¬≤ y MAPE

### Procedemos con la importaci√≥n y lectura de los datos:

#### usaremos gdown para descargar desde el drive personal y procederemos con zip file para descomprimir el dataset

In [1]:
%pip install gdown

Requirement already satisfied: gdown in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (5.2.0)
Requirement already satisfied: requests[socks] in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (from gdown) (2.32.3)
Requirement already satisfied: tqdm in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (from gdown) (4.67.1)
Requirement already satisfied: beautifulsoup4 in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (from gdown) (4.13.4)
Requirement already satisfied: filelock in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (from gdown) (3.18.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (from beautifulsoup4->gdown) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (from beautifulsoup4->gdown) (4.13.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (from requests[socks]->gdown) (2025.4.26)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (from requests[socks]->gdown) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (from requests[socks]->gdown) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (from requests[socks]->gdown) (2.4.0)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\mateoalmeida\desktop\10mo\tam\repository\tam-mlt\developtamenv\lib\site-packages (from tqdm->gdown) (0.4.6)

WARNING: You are using pip version 22.0.4; however, version 25.1.1 is available.
You should consider upgrading via the 'C:\Users\MateoAlmeida\Desktop\10mo\TAM\repository\tAM-MLt\DevelopTamEnv\Scripts\python.exe -m pip install --upgrade pip' command.

In [ ]:

# https://drive.google.com/file/d/1bIDY_Xe__gLelZSXLF0KByx4TXmgMwSU/view?usp=sharing

In [5]:
import gdown 
# https://drive.google.com/drive/u/0/folders/1lSsLbXmUSM_FlEzGzQdETGYU66Lt4-Qla
# https://drive.google.com/file/d/1g9Yfh9dMHHgZmiqwHKN1ry93XcZQwGl6/view?usp=sharing
# https://drive.google.com/drive/folders/1BYM95lIKuGV5df_4NNUTxyNr8gPpZrIk?usp=drive_link

# Download dataset from Google Drive

# https://drive.google.com/file/d/1g9Yfh9dMHHgZmiqwHKN1ry93XcZQwGl6/view?usp=sharing
fileID = "1bIDY_Xe__gLelZSXLF0KByx4TXmgMwSU"
url = f"https://drive.google.com/uc?id={fileID}"
output = "dataset.zip"
gdown.download(url, output, quiet=False, fuzzy=True)
  
!dir

Downloading...
From: https://drive.google.com/uc?id=1bIDY_Xe__gLelZSXLF0KByx4TXmgMwSU
To: c:\Users\MateoAlmeida\Desktop\10mo\TAM\repository\tAM-MLt\DevelopTamEnv\content\P1\dataset.zip
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 183k/183k [00:00<00:00, 906kB/s]

 Volume in drive C has no label.
 Volume Serial Number is 88F9-A69F

 Directory of c:\Users\MateoAlmeida\Desktop\10mo\TAM\repository\tAM-MLt\DevelopTamEnv\content\P1

05/06/2025  18:31    <DIR>          .
16/05/2025  11:46    <DIR>          ..
05/06/2025  18:15           182,858 AmesHousing.zip
05/06/2025  18:31            16,694 basis.ipynb
05/06/2025  18:15    <DIR>          dataset
05/06/2025  18:30           182,858 dataset.zip
04/06/2025  19:14         4,575,129 P1AdvanceNotes.pdf
16/05/2025  11:37           109,461 Parcial_1_TAM_2025_1.pdf
               5 File(s)      5,067,000 bytes
               3 Dir(s)  23,183,945,728 bytes free

#### procedemos descomprimiendo el dataset descargado mediante drive usando ZIPFILE

In [8]:
import zipfile 
with zipfile.ZipFile("dataset.zip", 'r') as zip_ref:
    zip_ref.extractall("ExtractedDataset")

''' second version 
import shutil
shutil.unpack_archive("dataset.zip", "ExtractedDataset", "zip")
'''

' second version \nimport shutil\nshutil.unpack_archive("dataset.zip", "ExtractedDataset", "zip")\n'

#### una vez con el dataset extra√≠do procedemos a realizar la lectura del csv usando pandas:

In [15]:
import pandas as pd 
# Load the dataset
housingDF = pd.read_csv("ExtractedDataset/"
"AmesHousing.csv")
# Display the first few rows of the dataset
housingDF.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

### procedemos con un EDA b√°sico (Exploratory data analysis)

#### primero nos interesa entender la distribuci√≥n los datos y sus estad√≠sticas descriptivas

In [35]:
# Display basic statistics of the dataset
housingDF.describe(include='all')

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
count,2930.00000,2.930000e+03,2930.000000,2930,2440.000000,2930.000000,2930,198,2930,2930,...,2930.000000,13,572,106,2930.000000,2930.000000,2930.000000,2930,2930,2930.000000
unique,NaN,NaN,NaN,7,NaN,NaN,2,2,4,4,...,NaN,4,4,5,NaN,NaN,NaN,10,6,NaN
top,NaN,NaN,NaN,RL,NaN,NaN,Pave,Grvl,Reg,Lvl,...,NaN,Ex,MnPrv,Shed,NaN,NaN,NaN,WD,Normal,NaN
freq,NaN,NaN,NaN,2273,NaN,NaN,2918,120,1859,2633,...,NaN,4,330,95,NaN,NaN,NaN,2536,2413,NaN
mean,1465.50000,7.144645e+08,57.387372,NaN,69.224590,10147.921843,NaN,NaN,NaN,NaN,...,2.243345,NaN,NaN,NaN,50.635154,6.216041,2007.790444,NaN,NaN,180796.060068
std,845.96247,1.887308e+08,42.638025,NaN,23.365335,7880.017759,NaN,NaN,NaN,NaN,...,35.597181,NaN,NaN,NaN,566.344288,2.714492,1.316613,NaN,NaN,79886.692357
min,1.00000,5.263011e+08,20.000000,NaN,21.000000,1300.000000,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,1.000000,2006.000000,NaN,NaN,12789.000000
25%,733.25000,5.284770e+08,20.000000,NaN,58.000000,7440.250000,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,4.000000,2007.000000,NaN,NaN,129500.000000
50%,1465.50000,5.354536e+08,50.000000,NaN,68.000000,9436.500000,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,6.000000,2008.000000,NaN,NaN,160000.000000
75%,2197.75000,9.071811e+08,70.000000,NaN,80.000000,11555.250000,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,8.000000,2009.000000,NaN,NaN,213500.000000
max,2930.00000,1.007100e+09,190.000000,NaN,313.000000,215245.000000,NaN,NaN,NaN,NaN,...,800.000000,NaN,NaN,NaN,17000.000000,12.000000,2010.000000,NaN,NaN,755000.000000

In [37]:
#also proceed displaying the info for the EDA 
housingDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     1155 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

e.g, para visualizar la estad√≠stica descriptiva de nuestra variable de inter√©s: 

 counting the values in the SalePrice column

In [ ]:
housingDF['SalePrice'].value_counts()

SalePrice
135000    34
140000    33
130000    29
155000    28
145000    26
          ..
97900      1
117250     1
164990     1
163990     1
173900     1
Name: count, Length: 1032, dtype: int64

ahora, podemos ordenar los indices de menor a mayor, uno por uno

In [ ]:

housingDF['SalePrice'].value_counts().sort_index()

SalePrice
12789     1
13100     1
34900     1
35000     1
35311     1
         ..
611657    1
615000    1
625000    1
745000    1
755000    1
Name: count, Length: 1032, dtype: int64

en orden de verificar si la variable objetivo presenta datos at√≠picos,podemos optar por usar el m√©todo unique de nuestra key de inter√©s en el dataframe hecho con pandas:

In [34]:
# Display the unique values in the 'SalePrice' "key" of our amesHousing dataset
housingDF['SalePrice'].unique()

array([215000, 105000, 172000, ...,  90500,  71000, 150900])

# END NB
Cristhian Mateo Almeida G√≥mez



presentado al profesor Andr√©s Marino Alvarez Meza.